:root {
	--transitionArgs: background-color 100ms linear;
}

.grid-container {
	margin: 1% 3%;
	width: 100%;
	height: 80%;
	display: grid;
}

.grid-container > div::before {
	content: "";
	padding-bottom: 100%;
	display: block;
}

.grid-square {
	width: 100%;
	flex-grow: 1;
	border: 0px solid white;
}

div[class^="grid-s-"], div[class*=" grid-s-"] {
	-webkit-transition: var(--transitionArgs);
	-moz-transition: var(--transitionArgs);
	-o-transition: var(--transitionArgs);
    -ms-transition: var(--transitionArgs);
	transition: var(--transitionArgs);
}


.grid-default {
	background-color: #f3f3f3;
}

.grid-s-obstacle {
	background-color: #6b6b6b;
}

.grid-start-point {
	background-color: #ffd000;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}

.grid-end-point {
	background-color: #a30000;
}

.grid-s-to-search {
	background-color: #8eb2ca;
}

.grid-s-searched {
	background-color: #267cb5;
}

.grid-solution {
	background-color: #00ba34;
}